/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#clearAllButton {
    -fx-background-image: url('resources/clean.png');
    -fx-background-size: 40.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#circleToggleButton {
    -fx-background-image: url('resources/circleNoChecked.png');
    -fx-background-size: 50.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#circleToggleButton:selected {
  -fx-background-color: darkgray;
}


#squareToggleButton {
    -fx-background-image: url('resources/squareNoChecked.png');
    -fx-background-size: 50.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#squareToggleButton:selected {
  -fx-background-color: darkgray;
}

#moveToggleButton {
    -fx-background-image: url('resources/moveNoClicked.png');
    -fx-background-size: 50.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#moveToggleButton:selected {
  -fx-background-color: darkgray;
}

#lineToggleButton {
    -fx-background-image: url('resources/lineNoChecked.png');
    -fx-background-size: 50.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#lineToggleButton:selected {
  -fx-background-color: darkgray;
}

#removeToggleButton {
    -fx-background-image: url('resources/remove.png');
    -fx-background-size: 40.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#removeToggleButton:selected {
	-fx-background-color: darkgray;
}





#addTokenToggleButton {
	-fx-background-image: url('resources/addToken.png');
    -fx-background-size: 40.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#addTokenToggleButton:selected{
	-fx-background-color: darkgray;
}

#removeTokenToggleButton {
	-fx-background-image: url('resources/removeToken.png');
    -fx-background-size: 40.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
#removeTokenToggleButton:selected{
	-fx-background-color: darkgray;
}

#addTagToggleButton {
	-fx-background-image: url('resources/addTag.png');
    -fx-background-size: 40.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#addTagToggleButton:selected{
	-fx-background-color: darkgray;
}

#removeTagToggleButton {
	-fx-background-image: url('resources/removeTag.png');
    -fx-background-size: 40.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
#removeTagToggleButton:selected{
	-fx-background-color: darkgray;
}




#removeToggleButton:focused {
	 -fx-background-color: darkgray;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item .label {
    -fx-text-fill: black;
    -fx-font-size: 12.0
}

.menu .label {
     -fx-text-fill: black;
     -fx-font-size: 14.0

}

.menu {
	-fx-selection-bar: darkgray;
}
.menu-bar:focused {
	 -fx-background-color: darkgray;
}