/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#clearAllButton {
    -fx-background-image: url('resources/clean.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#circleToggleButton {
    -fx-background-image: url('resources/circleNoChecked.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#circleToggleButton:selected {
  -fx-background-image: url('resources/circleChecked.png');
}


#squareToggleButton {
    -fx-background-image: url('resources/squareNoChecked.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#squareToggleButton:selected {
  -fx-background-image: url('resources/squareChecked.png');
}

#moveToggleButton {
    -fx-background-image: url('resources/moveNoClicked.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#moveToggleButton:selected {
  -fx-background-image: url('resources/moveClicked.png');
}