/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#clearAllButton {
    -fx-background-image: url('resources/clean.png');
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}